.btn-cadastro {
    background-color: #20c27a; /* verde claro personalizado */
    color: white;
    border: none;
}

.btn-cadastro:hover {
    background-color: #20c27a; /* um tom mais escuro no hover */
}
